<div class="container mt-3">


  <div class="card">

    <div class="card-header bg-primary text-center">
      <h1>Counter APP</h1>
    </div>


    <div class="card-body text-center">

      +10: <button class="btn btn-primary" (click)="counter()">{{count}}</button>
      +20: <button class="btn btn-primary" (click)="counter()">{{count}}</button>
      -5: <button class="btn btn-primary" (click)="counter()">{{count}}</button>
      -20: <button class="btn btn-primary" (click)="counter()">{{count}}</button>
    </div>
<br/>
    <div class="card-foter bg-info text-center">
      <h1>Total Count:<span class="badge badge-danger">{{total}}</span>  </h1>
    </div>

  </div>
  



</div>