<div class="container">
<div class="alert alert-info text-center">
<h1>Reactive Forms</h1>
</div>
<div class="col-6">

<div class="card">

  <div class="card-header">
    <h3>Employee Form</h3>
  </div>

  <div class="card-body">
    
    <form [formGroup]="empForm" (ngSubmit)="handleForm()" autocomplete="off">

      <div class="form-group">
        <label>ID</label>
        <input type="text" name="id" formControlName="id" required class="form-control">
      </div>

      <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" formControlName="name" required class="form-control">
        </div>

      <div class="form-group">
          <label>Salary</label>
          <input type="text" name="salary" formControlName="salary" class="form-control">
      </div>
      
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>

  </div>

</div>
</div>
<hr/>
<h2>test: {{fm.id.errors.required}}</h2>
<h2>test1: {{empForm.get('id').touched}}</h2>
</div>