<div class="alert alert-info text-center">
<h1>Railway</h1>
</div>
<div class="row">
    <div class="col-12">
     <div class="card-deck">
       <div *ngFor="let emp of emps">
              <div class="card mt-2">
                <div class="card-header bg-primary text-warning">{{emp.name}}</div>
                <div class="card-body text-center">
                  <p class="card-text">Some text inside the first card</p>
                </div>
            </div>
     </div>
    </div>
   </div>
  </div>
