<div class="container">

  <div class="alert alert-info text-center">
    <h1>Pipes Demo</h1>
  </div>


  <hr/>

  <h1>Name: {{name | uppercase | slice:0:2}}</h1>
  <h1>Name: {{name | lowercase}}</h1>
  <h1>Name: {{name | json}}</h1>
  <h1>Totay: {{today | date}}</h1>
  <h1>Totay: {{today | date:'fullDate'}}</h1>
  <h1>Totay: {{today | date:'shortDate'}}</h1>
  <h1>Totay: {{today | date:'longDate'}}</h1>
   <hr/>

   <h1>Price in INR: {{price | currency:'INR' }}</h1>
   <h1>Price in USD: {{price | currency:'USD' }}</h1>
   <hr/>

   <h1>Price: {{price | percent }}</h1>

   <hr/>

   <h1>{{ "Praveen" | slice:0:3}}</h1>

</div>


